<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Practice Suite for Listner" thread-count="1">

    <test name="API Regression Tests">
        <classes>
            <class name="restassured.ApiTest1"></class>
        </classes>
    </test>
</suite> <!-- Suite -->